{% extends "blog/base.html" %}

{% block title %} Share a post {% endblock %}


{% block content %}
    {% if sent %}
        <h1>E-mail successfully sent</h1>
        <p>
            "{{ post.title }}" was successfully sent to {{ form.cleaned_data.to }}.
        </p>
    {% else %}
        <h1>Share "{{ post.title }}" by e-mail</h1>
        <form method="POST">
            <!-- form.as_p renders the form fields as <p> elements-->
            <!-- we can use form.as_ul or form.as_table as well-->
            <!-- if we wanted to render the fields individually, we could do  
                    {% for field in form %}
                        <div>
                            {{ field.errors }}
                            {{ field.label_tag }} {{ field }}
                        </div>
                    {% endfor %}
            -->
            {% for field in form %}
            <div>
                {{ field.errors }}
                {{ field.label_tag }} {{ field }}
            </div>
            {% endfor %}

            <!-- {{ form.as_p }} -->

            <!-- this stops CSRF attacks, include this tag in every form that us submitted via POST -->

            {% csrf_token %}
            <input type = 'submit' value="Send e-mail">
        </form>
    {% endif %}

{% endblock %}